<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ECOMM_C2C_SUBDBContext" connectionString="metadata=res://*/EcommerceModel.csdl|res://*/EcommerceModel.ssdl|res://*/EcommerceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HIENCOMPUTER;initial catalog=ECOMM_C2C_SUB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>