<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/vendor/bootstrap-4.2.1/css/bootstrap.min.css"/>
    <include path="~/vendor/owl-carousel-2.3.4/assets/owl.carousel.min.css"/>
    <include path="~/css/style.css"/>
    <include path="~/css/CusHome_style.css"/>
    <include path="~/vendor/fontawesome-5.6.1/css/all.min.css"/>
    <include path="~/fonts/stroyka/stroyka.css"/>
    <include path="~/css/customstyle.css"/>
  </styleBundle>
</bundles>