.file-upload {
    margin-top: 100px;
    padding-left: 50px;
}

.avaimg { float: left; }

.txt-by-truc { font-size: 20px; }

.margin__left { margin-left: 20px; }

.img__small {
    height: 50px;
    width: 50px;
}