.logo_name {
    color: black;
    font-family: 'Baskerville Old Face';
    font-size: 24px;
    font-weight: bold;
}

.logo_name_1 {
    color: black;
    font-family: 'Baskerville Old Face';
    font-size: 24px;
    font-weight: bold;
}

.custom_font { font-size: 15px; }

.big-btn {
    font-size: 16px;
    height: 40px;
    width: 90px;
}