@font-face {
    font-family: 'stroyka';
    font-style: normal;
    font-weight: normal;
    src:
       url('stroyka.ttf') format('truetype'),
       url('stroyka.woff') format('woff'),
       url('stroyka.svg#stroyka') format('svg');
}