.navbar-brand-wrapper { background: #ffd333; }

.logo_style {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: bold;
}

.logo_style_mini {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: bold;
}

.navbar.default-layout { background: #ffd333; }

.navbar.default-layout .navbar-menu-wrapper { color: black; }

.custom_bar {
    background-color: white;
    color: black;
    border: 1px solid #ffd333;
    font-size: 40px;
    font-weight: bold
}

.custom_bar_hover {
    background-color: white;
    color: black;
    border: 1px solid #ffd333;
    font-size: 40px;
    font-weight: bold
}

    .custom_bar_hover:hover {
        background-color: #ffd333;
        color: black;
    }
.custom_table { padding: 0; }

.table-by-truc td { font-size: 20px; }

.table-by-truc th { text-align: center; }

.table-by-truc {
    margin: auto;
    width: 50% !important;
}

.txt-by-truc { font-size: 20px; }

.lbtn-center-truc { text-align: right; }

.my-info__save { text-align: center; }

.img-listview-pro img{
    width: 50px;
    height:50px;

}

.rating__body {
    display: -ms-flexbox;
    display: flex;
}

.rating__star + .rating__star {
    margin-left: 3px;
}

.rating__star:first-child + .rating__star--only-edge {
    margin-left: 0;
}

.rating__fill {
    color: #ccc;
    fill: currentColor;
}

.rating__stroke {
    color: rgba(0, 0, 0, .08);
    fill: currentColor;
}

.rating__star--active .rating__fill {
    color: #ffd333;
}

.rating__star--active .rating__stroke {
    color: rgba(0, 0, 0, .08);
}

.rating__star--only-edge {
    display: none;
    position: relative;
}